body{
    
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(14, 14, 85, 1) 33%, rgba(11, 47, 79, 1) 52%, rgba(112, 161, 235, 1) 100%);


}

.container{

    margin: auto;
    margin-top: 30vh;
    border: 3px solid white;
    height: max-content;
    width: max-content;
    border-radius: 20px;
    align-items: normal;
    
    
}

#main-heading{

    justify-content: center;
    text-align: center;
    margin-bottom: 48px;
    font-size: 50px;
    color: white;
    margin: 40px;
    
    
}

.list-items{
    justify-content: center;
    text-align: center;
    font-size: 29px;
    background-color: white;
    padding: 20px;
    margin-left: -25px;
    padding: 0.4cap;
    margin-right: 10px;
  
  
    
   
    
}

ul{
    margin: 40px;
    list-style-type: none;
}

hr{
    margin: auto;
    width: fit-content;
    
    

   
    
}



